#Titulo {font-size:2em; font-family: 'Times New Roman', Times, serif ; font-weight: bold; color: blue;}
#subtitulo {font-size: 1em; font-family: Arial, Helvetica, sans-serif;font-weight: bold; color:sienna ;}
#imagem {font-family: Verdana, Geneva, Tahoma, sans-serif;font-weight: bold;color: crimson;}
